.image-scale
    transition: transform .4s ease
    transform-origin: 50% 50%

    &:hover
        transform: scale(1.05)

.coffe-card
    display: flex
    width: calc(50vw - 102px)
    aspect-ratio: 2.4
    gap: 6px

    .coffe-card-desc
        font-size: 14px
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 10px 10px
        width: 100%
        background-color: #f2f3ed

        img
            width: 55px!important
            height: 55px!important

        p
            color: #7d7d7d
            font-size: 13.5px

    .coffe-card-desc_title
        width: 100%

    img
        height: auto
        margin-bottom: 0px!important
        width: 100%!important

@media (max-width: 1280px)
    .coffe-card
        width: 100%

@media (max-width: 524px)
    .coffe-card
        width: fit-content